<form action="/addrestaurant" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">
    </div>
    <div class="form-group">
        <label for="add1">Address 1</label>
        <input type="text" class="form-control" id="add1" name="add1" placeholder="Enter Address">
    </div>
    <div class="form-group">
        <label for="add2">Address 2</label>
        <input type="text" class="form-control" id="add2" name="add2" placeholder="Enter Address">
    </div>
    <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" name="city" placeholder="Enter City">
    </div>
    <div class="form-group">
        <label for="state">State</label>
        <input type="text" class="form-control" id="state" name="state" placeholder="Enter State">
    </div>
    <div class="form-group">
        <label for="pincode">Pincode</label>
        <input type="number" class="form-control" id="pincode" name="pincode" placeholder="Enter Pincode">
    </div>
    <div class="form-group">
        <label for="cuisine">Cuisine</label>
        <input type="text" class="form-control" id="cuisine" name="cuisine"
            placeholder="Enter The Cuisine of Your Restaurant">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" name="description" placeholder="Enter Description">
    </div>
    <div class="form-group">
        <label for="picture">Enter the route to the Picture</label>
        <input type="text" class="form-control" id="picture" name="picture" placeholder="Enter Route">
    </div>
    <button type="submit" class="btn btn-primary">Next</button>
</form>