<form action="/adduser" method="post">
    <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter First Name">
    </div>
    <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter Last Name">
    </div>
    <div class="form-group">
        <label for="emailid">Email Id</label>
        <input type="email" class="form-control" id="emailid" name="emailid" placeholder="Enter Email Id">
    </div>
    <div class="form-group">
        <label for="gender">Gender</label>
        <input type="text" class="form-control" id="gender" name="gender" placeholder="Enter Gender">
    </div>
    <div class="form-group">
        <label for="mobile">Mobile Number</label>
        <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Enter Mobile Number">
    </div>
    <div class="form-group">
        <label for="usertype">Enter type of User(Customer/Restaurateur)</label>
        <input type="text" class="form-control" id="usertype" name="usertype" placeholder="Enter Usertype">
    </div>
    <div class="form-group">
        <label for="password">Set Password</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Next</button>
</form>